<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container my-5">
    <h3> Add User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/users/}"
                      th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <input
                                    type="text" th:field="*{firstName}" class="form-control" id="first-name"
                                    placeholder="First name">
                            <div
                                    th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                    class="alert alert-danger"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input
                                    type="text" th:field="*{lastName}" class="form-control" id="last-name"
                                    placeholder="Last name"> <div
                                th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                class="alert alert-danger"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input
                                    type="text" th:field="*{email}" class="form-control" id="email"
                                    placeholder="Email"> <div
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="alert alert-danger"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input
                                    type="text" th:field="*{role}" class="form-control" id="role"
                                    placeholder="Role"> <div
                                th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                class="alert alert-danger"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input
                                    type="date" th:field="*{birthDate}" class="form-control" id="birthDate"
                                    placeholder="Birth date"> <div
                                th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"
                                class="alert alert-danger"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input
                                    type="text" th:field="*{password}" class="form-control" id="password"
                                    placeholder="Password"> <div
                                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="alert alert-danger"></div>
                        </div>

                        <input type="hidden" th:value="${#dates.format(currentDate, 'yyyy-MM-dd')}" id="registerDate"
                               name="registerDate">
                        <div th:switch="${groups}" class="form-group col-md-8">
                            <div th:case="*">
                                <label for="group">Group</label>
                                <select id="group" th:field="*{group}">
                                    <option th:each="uGroup : ${groups}" th:value="${uGroup.id}"
                                            th:text="${uGroup.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add Student">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>