<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${users}" class="container my-5">
                <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
                <p class="my-5">
                    <a href="/users/add" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add user</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No users yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Register date</th>
                                <th>Birth date</th>
                                <th>Password</th>
                                <th>Group</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.role}"></td>
                                <td th:text="${user.registerDate}"></td>
                                <td th:text="${user.birthDate}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.group} ? ${user.group.name} : '-'"></td>
                                <td><a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary"><i
                                        class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-primary"><i
                                        class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>